# secret!
*.env
config/.local.*.env

update-dns.log
node_modules/
services.yaml

# services
cleanuparr/
aurral/
gluetun/
jellyfin/
lidarr/
navidrome/
prowlarr/
qbittorrent/
radarr/
seerr/
sonarr/
ts-subnet/
bazarr/
headscale/
headplane/
