# secret!
*.env
config/.local.*.env

node_modules/
services.yaml

# services
cleanuparr/
flood/
gluetun/
jellyfin/
lidarr/
navidrome/
prowlarr/
qbittorrent/
radarr/
seerr/
sonarr/
ts-subnet/
bazarr/

# headscale (secrets + state)
headscale/config/config.yaml
headscale/config/acl.json
headscale/lib/
headscale/run/